.#-emacs*
/%backup%~
/elpa/
/url/
/transient/
/straight/
/anaconda-mode/
/auto-save-list/
/bookmarks
/eshell/
/forge-database.sqlite
/history
/newsticker/
/org-clock-save.el
/places
/projects
/recentf
/server/
/.mc-lists.el
/.waka.el
*texi*
*.png
*~
/emms/
/org-persist/
/local.el
/templates.el
/eln-cache/*
*.gpg
.emacs.desktop*
custom.el
tramp
